<script>
    window.onload = function init_components() {
        init_map_anuncio();
    }
</script>
<!--CONTAINER GENERAL-->
<div class="container-fluid pt-5 pb-5">
    <br>
    <div class=" white rounded-lg mb-3 ml-3 mr-3">
        <a type="button" class="btn btn-elegant rnd mt-3" href="/listAnuncios">Regresar</a>
        <div class="justify-content-center">
            <div class="header">
                <h2 class="font-weight-normal font-italic text-center pt-1">Ver Anuncio</h2>
            </div>
            <br>
            <h5 class="font-weight-normal font-italic pl-2 pr-2 pb-3 text-center">Así es como los interesados en su
                anuncio veran la informacion del inmueble</h5>
        </div>
    </div>
    <!--FILA GENERAL-->
    <div class="row wow fadeIn ml-1 mr-1">

        <!--COLUMNA IZUIERDA-->
        <div class="col-sm-9 ">
            <!--Carousel Wrapper-->
            <div id="carousel" class="carousel slide carousel-fade elegant-color" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    {{#each anuncio.IMAGES}}
                    <li data-target="#carousel" data-slide-to="{{POS}}" {{#ifEquals POS 0}} class="active"
                        {{/ifEquals}}></li>
                    {{/each}}
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {{#each anuncio.IMAGES}}
                    <div class="carousel-item {{#ifEquals POS 0}} active {{/ifEquals}}">
                        <img class="d-block mx-auto" src="/anuncio_images/{{IMG_NOMBRE}}" style="height: 600px;">
                    </div>
                    {{/each}}
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="rnd btn btn-elegant btn-block mb-2" data-toggle="modal"
                        data-target="#modal_llamar"><i class="fas fa-phone pr-2"></i>
                        Quiero que me llamen</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="rnd btn btn-elegant btn-block mb-2" data-toggle="modal"
                        data-target="#modal_visita"><i class="fas fa-route pr-2"></i>
                        Planificar visita</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="rnd btn btn-elegant btn-block mb-2" data-toggle="modal"
                        data-target="#modal_consulta"><i class="fas fa-question pr-2"></i>Consultar</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="rnd btn btn-elegant btn-block mb-2" data-toggle="modal"
                        data-target="#modal_consulta"><i class="far fa-handshake pr-2"></i>LLaves en Mano</button>
                </div>
            </div>
            <hr>
            <div class="row white rounded ">
                <div class="col-sm-9 pt-3 ">
                    <h3 class="font-weight-bolder">{{anuncio.ANUN_TITULO}}</h3>
                </div>
                <div class="col-sm-3 pt-3">
                    <h4 class="font-weight-bolder">${{anuncio.ANUN_PRECIO}} </h4>
                </div>
                <div class="col-sm-12">
                    <br>
                    <h4 class="font-weight-bolder text-white elegant-color rounded p-2"><i
                            class="fas fa-info-circle pr-2"></i>Información</h4>
                    <div class="container">
                        <div class="row border rounded-lg p-2 mb-2">
                            <div class="col-sm-3">
                                <h5>Transacción:</h5>
                                <ul>
                                    <li>{{anuncio.ANUN_TRANSACCION}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Inmueble:</h5>
                                <ul>
                                    <li>{{anuncio.TIPINM_DESCRIPCION}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Fecha:</h5>
                                <ul>
                                    <li>{{anuncio.FECHA}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Alicuota:</h5>
                                <ul>
                                    <li>{{anuncio.ANUN_ALICUITA}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                {{#ifEquals anuncio.ANUN_ESTADO_CONSTR "Terreno"}}
                                <h5>Estado de Inmueble:</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 10%" >{{../anuncio.ANUN_ESTADO_CONSTR}}</div>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals anuncio.ANUN_ESTADO_CONSTR "En planos"}}
                                 <h5>Estado de Inmueble:</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" >{{../anuncio.ANUN_ESTADO_CONSTR}}</div>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals anuncio.ANUN_ESTADO_CONSTR "En construcción"}}
                                 <h5>Estado de Inmueble:</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" >{{../anuncio.ANUN_ESTADO_CONSTR}}</div>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals anuncio.ANUN_ESTADO_CONSTR "Pre-venta"}}
                                <h5>Estado de Inmueble:</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" >{{../anuncio.ANUN_ESTADO_CONSTR}}</div>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals anuncio.ANUN_ESTADO_CONSTR "Venta"}}
                                 <h5>Estado de Inmueble:</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" >{{../anuncio.ANUN_ESTADO_CONSTR}}</div>
                                </div>
                                {{/ifEquals}}
                                
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <br>
                    <h4 class="font-weight-bolder text-white elegant-color rounded p-2"><i
                            class="fas fa-file-alt pr-2"></i>Descipción</h4>
                    <div class="row ml-5 mt-2 mb-3">
                        <span class="large-description">{{anuncio.ANUN_DESCRIPCION}}</span>

                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="font-weight-bolder text-white elegant-color rounded p-2 "><i
                            class="fas fa-list pr-2"></i>Características</h4>
                    <div class="container">
                        <div class="row text-center border rounded-lg p-2">
                            <div class="col-sm-2">
                                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-expand-arrows-alt fa-2x"></i>
                                <h6>{{anuncio.ANUN_TAMANO_TOTAL}} (m&sup2)</h6>
                                <b>Área</b>
                            </div>
                            <div class="col-sm-2">
                                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-bed fa-2x"></i>
                                <h6>{{anuncio.ANUN_HABITACIONES}}</h6>
                                <b>Habitaciones</b>
                            </div>
                            <div class="col-sm-2">
                                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-bath fa-2x"></i>
                                <h6>{{anuncio.ANUN_BANOS}}</h6>
                                <b>Baños</b>
                            </div>
                            <div class="col-sm-2">
                                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-toilet fa-2x"></i>
                                <h6>{{anuncio.ANUN_M_BANOS}}</h6>
                                <b>1/2 Baños</b>
                            </div>
                            <div class="col-sm-2">
                                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-car fa-2x"></i>
                                <h6>{{anuncio.ANUN_ESTACIONAMIENTO}}</h6>
                                <b>Estacionamientos</b>
                            </div>
                            <div class="col-sm-2">
                                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-history fa-2x"></i>
                                <h6>{{anuncio.ANUN_ANTIGUEDAD}}</h6>
                                <b>Antiguedad</b>
                            </div>
                        </div>
                        <br>
                        <div class="row border rounded-lg p-2 mb-2">
                            <div class="col-sm-12">
                                <h5>Otros</h5>
                                <ul>
                                    {{#each anuncio.CARACTERISTICAS}}
                                    <li>{{CARACT_DESCRIPCION}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-2">
                    <h4 class="font-weight-bolder text-white elegant-color rounded p-2"><i
                            class="fas fa-map-marker pr-2"></i>Ubicación</h4>


                    <div class="container">
                        <div class="row border rounded-lg p-2 mb-2">
                            <div class="col-sm-4">
                                <h5>Provincia:</h5>
                                <ul>
                                    <li>{{anuncio.PROVINCIA}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h5>Cantón:</h5>
                                <ul>
                                    <li>{{anuncio.CANTON}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h5>Zona:</h5>
                                <ul>
                                    <li>{{anuncio.ZONA}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <h5>Dirección:</h5>
                                <ul>
                                    <li>{{anuncio.ANUN_DIRECCION}}</li>
                                </ul>
                            </div>
                            <input type="hidden" name="lat" id="lat" value="{{anuncio.ANUN_LATITUD}}">
                            <input type="hidden" name="lon" id="lon" value="{{anuncio.ANUN_LONGITUD}}">

                            <div class="col-sm-12">
                                <h5>Mapa:</h5>
                                <div id="map-anuncio"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--COLUMNA IZUIERDA-->
        <!--COLUMNA DERECHA-->
        <div class="col-sm-3">
            <!--Form with header-->
            <div class="card rounded-lg">
                <!--Header-->
                <div class="header  elegant-color p-1">
                    <div class="row  justify-content-center">
                        <h5 class="h5 text-white">Contactar con el Anunciante</h5>
                    </div>
                </div>
                <!--Header-->
                <div class="card-body mx-4">

                    <div class="md-form">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="contacto_nombre" class="form-control">
                        <label for="contacto_nombre">Nombre</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="contacto_correo" class="form-control">
                        <label for="contacto_correo">Correo</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-phone prefix grey-text"></i>
                        <input type="tel" id="contacto_telefono" class="form-control">
                        <label for="contacto_telefono">Teléfono</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                        <textarea id="contacto_mensaje" class="md-textarea form-control" rows="5"></textarea>
                        <label for="contacto_mensaje">Mensaje</label>
                    </div>


                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-3 mt-4">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-elegant rnd">Contactar</button>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                </div>

            </div>
            <!--/Form with header-->
        </div>
        <!--COLUMNA DERECHA-->
    </div>
    <!--FILA GENERAL-->
</div>
<!--CONTAINER GENERAL-->

<!-- Modal -->
<div class="modal fade" id="modal_llamar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header elegant-color  justify-content-center">
                <h5 class="modal-title text-white"><i class="fas fa-phone pr-2"></i>QUIERO QUE ME LLAMEN</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="llamada_nombre" class="form-control">
                    <label for="llamada_nombre">Nombre</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="llamada_correo" class="form-control">
                    <label for="llamada_correo">Correo</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-phone prefix grey-text"></i>
                    <input type="tel" id="llamada_teléfono" class="form-control">
                    <label for="llamada_teléfono">Teléfono</label>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-elegant rnd">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_visita" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header elegant-color  justify-content-center">
                <h5 class="modal-title text-white"><i class="fas fa-route pr-2"></i>PLANIFICAR VISITA</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="planificar_nombre" class="form-control">
                    <label for="planificar_nombre">Nombre</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="planificar_correo" class="form-control">
                    <label for="planificar_correo">Correo</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-phone prefix grey-text"></i>
                    <input type="tel" id="planificar_telefono" class="form-control">
                    <label for="planificar_telefono">Teléfono</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-calendar-day prefix grey-text"></i>
                    <input type="date" id="planificar_fecha" class="form-control">
                    <label for="planificar_fecha">En qué fecha desea visitar?</label>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-elegant rnd">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_consulta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header elegant-color  justify-content-center">
                <h5 class="modal-title text-white"><i class="fas fa-question pr-2"></i>CONSULTAR</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="consultar_nombre" class="form-control">
                    <label for="consultar_nombre">Nombre</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="consultar_apellido" class="form-control">
                    <label for="consultar_apellido">Correo</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-phone prefix grey-text"></i>
                    <input type="tel" id="consultar_telefono" class="form-control">
                    <label for="consultar_telefono">Teléfono</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                    <textarea id="consultar__mensaje" class="md-textarea form-control" rows="5"></textarea>
                    <label for="consultar__mensaje">Mensaje</label>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-elegant rnd">Enviar</button>
            </div>
        </div>
    </div>
</div>